.container {
  display: flex;
  justify-content: space-between;
}

.box {
  border: 2px solid #000;
  margin: 5px;
  height: 100px;
}

.bg-yellow {
  background-color: #f4eb48;
  width: 20%;
}
.bg-orange {
  background-color: #ff6623;
  width: 80%;
}

.bg-green {
  background-color: #aede94;
  width: 20%;
  height: 500px;
}
.bg-grey {
  background-color: #d1d6da;
  width: 60%;
  height: 500px;
}
.bg-aqua {
  background-color: aquamarine;
  width: 20%;
  height: 500px;
}

.bg-blue {
  background-color: #1465f5;
  width: 100%;
}
