body {
  background-color: #000;
}

.container {
  display: flex;
  justify-content: space-around;
  padding: 50px;
}

img {
  border: 5px solid #fff;
  border-radius: 10px;
  width: 250px;
}
