@import url('https://fonts.googleapis.com/css2?family=Arbutus+Slab&family=Lora:wght@500&display=swap');
* {
  font-family: 'Lora', serif;
  scroll-behavior: smooth;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Arbutus Slab', serif;
}
section {
  padding: 5em 0;
}

/* Header */
#header .bg-1 {
  background: url('../img/bg1.jpg') no-repeat center;
  background-size: cover;
  height: 610px;
  color: #fff;
  margin-top: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#header .bg-2 {
  background: url('../img/bg2.jpg') no-repeat center;
  background-size: cover;
  height: 610px;
  color: #fff;
  margin-top: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#header .bg-1 h2,
.bg-2 h2 {
  font-size: 50px;
  font-weight: 900;
  text-align: center;
}
/* Akhir Header */

/* Barrier */
.barrier {
  background: url('../img/bg4.jpg') no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}
.barrier .teks {
  font-size: 26px;
  font-weight: 600;
  text-align: center;
  color: #fff;
  text-shadow: 2px 1px #000;
}
/* Akhir Barrier */

/* Menu */
#menu img {
  width: 100%;
}
#menu .menu {
  position: relative;
}
#menu .image {
  display: block;
  width: 100%;
  height: auto;
}
#menu .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: #000000a1;
}
#menu .menu:hover .overlay {
  opacity: 1;
}
#menu .text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
/* Akhir Menu */

/* Reservation */
#reservation {
  background-color: #242527;
  color: #fff;
}
#reservation input,
textarea {
  width: 100%;
  padding: 5px 0;
  border: none;
  border-bottom: 1px solid #f2c94c;
  border-radius: 0;
  background: transparent;
  color: #fff;
  outline: none;
  resize: none;
}
#reservation .btn {
  color: #fff;
  background-color: #c47445;
  padding: 5px 10px;
  border-radius: 2.5px;
  margin-top: 10px;
  opacity: 1;
}
#reservation .btn:hover {
  transition: 0.3s ease;
  opacity: 0.6;
}
#reservation td:hover {
  background-color: #c47445;
  cursor: pointer;
  transition: 0.3s ease;
}
#reservation .merah:hover {
  background-color: #dc143c;
  cursor: pointer;
  transition: 0.3s ease;
}
/* Akhir Reservation */

/* Contact */
#contact {
  background-color: #c47445;
  color: #fff;
  font-size: 22px;
  padding: 3em 0;
}
#contact i {
  display: block;
  float: left;
  width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  background: #fff;
  color: #c47445;
  font-size: 30px;
  border-radius: 50%;
  margin-right: 20px;
}
#contact p {
  margin: 0;
}
/* Akhir Contact */

/* Footer */
#footer h4 {
  color: #242527;
  text-transform: uppercase;
  font-size: 24px;
  border-bottom: 1px dashed #c47445;
  margin-bottom: 10px;
  padding-bottom: 10px;
}
#footer .social {
  padding-bottom: 10px;
  margin: 0px;
  margin-top: 20px;
}
#footer .list-inline {
  padding-left: 0;
  list-style: none;
}
#footer .list-inline-item {
  display: inline-block;
  margin-right: 10px;
}
#footer i {
  display: block;
  float: left;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background-color: #242527;
  color: #fff;
  font-size: 20px;
  border-radius: 50%;
  margin-right: 10px;
}
#sfooter {
  background-color: #242527;
  color: #fff;
  padding: 3em 0;
}
#sfooter p {
  margin: 0;
}
/* Akhir Footer */

@media (max-width: 768px) {
  #reservation table {
    width: 100%;
  }
  #reservation .col-md-5,
  .col-md-4 {
    margin-bottom: 30px;
  }
  #contact .col-md-4 {
    margin-bottom: 15px;
  }
}
